{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "arrowParens": "always",
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "endOfLine": "auto",
  "useTabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "^@/contexts/(.*)$",
    "^@/config/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^@/schemas/(.*)$",
    "^@/apis/(.*)$",
    "^@/lib/(.*)$",
    "^@/stores/(.*)$",
    "^@/constants/(.*)$",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
