@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    /* --card: 0 0% 100%; */
    --card: 83.1 100% 97.5%;
    --card-foreground: 240 10% 3.9%;
    /*--popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%; */
    /* --primary: 240 5.9% 10%; */
    --primary: 75.34 47% 51.2%;
    --primary-foreground: 0 0% 98%;
    /* --secondary: 240 4.8% 95.9%; */
    --secondary: 120 23.1% 30.6%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    /*--accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%; */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}
@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    /* background: #f1f5f9; */
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .desc-lens {
    @apply text-gray-400;
  }
}
